<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Register</title>
</head>
<body>
	<h1>Create Your User Account</h1>
	
	<div class="register">
		<div class="register">
			<form class="form-signin" action="#" th:action="@{/register}" th:object="${user}" method="post">
				<input id="csrf.token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
					<p id="warning" style="color:red;"></p><br>
					<input id="name" name="name" type="text" th:field="${user.name}" placeholder="First Name" pattern=".{3,}" required title="3 characters minimum" /> 
					<input id="lastname" name="lastname" type="text" th:field="${user.lastname}" placeholder="Last Name" pattern=".{3,}" required title="3 characters minimum" /> 
					<input id="company" name="company" type="text" th:field="${user.companyName}" placeholder="Company" pattern=".{3,}" required title="3 characters minimum" /> 
					<input id="phonenumber" name="phonenumber" type="text" th:field="${user.phoneNumber}" placeholder="Phone Number" pattern=".{3,}" required title="3 characters minimum" /> 
					<input id="password" name="password" type="password" th:field="${user.password}" placeholder="Password" pattern=".{5,20}" required title="5 to 20 characters" />
					<input id="email" name="Email" type="text" th:field="${user.email}"	placeholder="E-Mail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"	title="example@xmail.com" />
				<div>
					<input type="submit" value="Create My Account">
				</div>
			</form>
			<div style="margin-top: 15px">
				<p style="padding-left: 15px">Do you have an account? <strong><a th:href="@{/login}">SIGN IN</a></strong></p>
			</div>
		</div>
	</div>
	<!-- Check if Username is exists -->
	<script type="text/javascript" src="/js/register.js"></script>
</body>
</html>
